
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <form>
      <div class="row">
        <div class="col-md-8">
          <div class="mb-3  d-flex justify-content-between" >
            <input type="email" class="form-control shadow p-3 mb-5 bg-body-tertiary rounded"
            placeholder="Add New category here"
            name="categoryName">

          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-success"style="padding: 15px;">ADD Category </button>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>



<div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header d-flex justify-content-between">
    <button type="button" class="btn btn-warning">Category</button>

    <div>
      <i class="fa fa-pencil text-success " aria-hidden="true"></i>
      <i class="fa fa-trash text-danger m-2" aria-hidden="true"></i>
    </div>
  </div>

  <div class="card-body">
    <h2 class="card-title">Category</h2>
    <p class="card-text">Some quick example text to build on the card title .</p>
    <hr>
    <div class="badge text-bg-primary">Todos-3</div>
  </div>
</div>
